:root { 
--indigo_100_01:#b6bde1; 
--gray_700:#7d5047; 
--indigo_100_02:#c8c9da; 
--indigo_100_03:#c0bbde; 
--blue_gray_100:#d9d9d9; 
--blue_gray_400:#8283ad; 
--gray_800:#6c3d22; 
--blue_gray_500:#58718f; 
--indigo_400_16:#6365a416; 
--red_200:#d5977c; 
--red_300:#b67158; 
--gray_800_01:#454546; 
--black_900_3f:#0000003f; 
--orange_200:#e8c688; 
--lime_100:#f6e2ca; 
--indigo_100_3d:#c8c9da3d; 
--indigo_100:#c3bcde; 
--black_900:#000000; 
--deep_orange_900:#ac5929; 
--indigo_900_01:#223668; 
--indigo_900:#213567; 
--blue_gray_400_01:#8284ad; 
--white_A700:#ffffff; 
}