.1_12 { 
	overflow:hidden;
}
.e1_12 { 
	background-color:rgba(255, 255, 255, 1);
	width:816px;
	height:1056px;
	position:absolute;
}
.e2_81 { 
	width:240px;
	height:847px;
	position:absolute;
	left:0px;
	top:85px;
}
.e2_14 { 
	width:140px;
	height:140px;
	position:absolute;
	left:50px;
	top:0.001220703125px;
}
.e2_15 { 
	width:198.87094116210938px;
	height:854.8734130859375px;
	position:absolute;
	left:-7.8733062744140625px;
	top:-7.872256755828857px;
}
.e2_16 { 
	background-color:rgba(182.00000435113907, 189.00000393390656, 225.00000178813934, 1);
	width:110.12800598144531px;
	height:110.12800598144531px;
	position:absolute;
	left:22.80930519104004px;
	top:22.808258056640625px;
}
.e2_17 { 
	background-color:rgba(0, 0, 0, 1);
	width:57.771240234375px;
	height:44.06019973754883px;
	position:absolute;
	left:44.757686614990234px;
	top:66.9967041015625px;
}
.e2_18 { 
	background-color:rgba(0, 0, 0, 1);
	width:33.685726165771484px;
	height:39.33238220214844px;
	position:absolute;
	left:55.36707305908203px;
	top:43.58360290527344px;
}
.e2_19 { 
	background-color:rgba(213.00000250339508, 151.00000619888306, 124.00000020861626, 1);
	width:18.820959091186523px;
	height:40.90739440917969px;
	position:absolute;
	left:65.88333892822266px;
	top:64.95682525634766px;
}
.e2_20 { 
	background-color:rgba(182.00000435113907, 113.00000086426735, 88.00000235438347, 1);
	width:14.326118469238281px;
	height:11.74316692352295px;
	position:absolute;
	left:70.35794830322266px;
	top:81.82909393310547px;
}
.e2_28 { 
	width:198.87094116210938px;
	height:854.8734130859375px;
	position:absolute;
	left:0px;
	top:0px;
}
.2_26 { 
	overflow:hidden;
}
.e2_26 { 
	width:198.87094116210938px;
	height:854.8734130859375px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_21 { 
	width:78.49200439453125px;
	height:43.45676040649414px;
	position:absolute;
	left:36.04930877685547px;
	top:94.531494140625px;
}
.e2_22 { 
	background-color:rgba(182.00000435113907, 113.00000086426735, 88.00000235438347, 1);
	width:78.49200439453125px;
	height:40.09364700317383px;
	position:absolute;
	left:-2.506801024537708e-7px;
	top:0.00862443819642067px;
}
.e2_23 { 
	background-color:rgba(246.0000005364418, 226.0000017285347, 202.00000315904617, 1);
	width:38.26400375366211px;
	height:29.272754669189453px;
	position:absolute;
	left:18.76799774169922px;
	top:9.128025340032764e-7px;
}
.e2_24 { 
	background-color:rgba(0, 0, 0, 1);
	width:6.472980499267578px;
	height:34.49951934814453px;
	position:absolute;
	left:9.511017799377441px;
	top:8.957245826721191px;
}
.e2_25 { 
	background-color:rgba(0, 0, 0, 1);
	width:6.472977638244629px;
	height:34.499515533447266px;
	position:absolute;
	left:64.58702087402344px;
	top:6.877246379852295px;
}
.e2_29 { 
	background-color:rgba(0, 0, 0, 1);
	width:41.5820198059082px;
	height:27.293476104736328px;
	position:absolute;
	left:57.04911804199219px;
	top:40.51225662231445px;
}
.e2_30 { 
	background-color:rgba(213.00000250339508, 151.00000619888306, 124.00000020861626, 1);
	width:28.581594467163086px;
	height:35.45991516113281px;
	position:absolute;
	left:66.90450286865234px;
	top:54.29634475708008px;
}
.e2_31 { 
	background-color:rgba(213.00000250339508, 151.00000619888306, 124.00000020861626, 1);
	width:6.211587905883789px;
	height:7.70533561706543px;
	position:absolute;
	left:63.7999382019043px;
	top:66.80692291259766px;
}
.e2_32 { 
	background-color:rgba(0, 0, 0, 1);
	width:2.8559982776641846px;
	height:2.856004238128662px;
	position:absolute;
	left:89.10530090332031px;
	top:67.8082504272461px;
}
.e2_33 { 
	background-color:rgba(0, 0, 0, 1);
	width:2.8559978008270264px;
	height:2.8559999465942383px;
	position:absolute;
	left:72.497314453125px;
	top:67.8082504272461px;
}
.e2_34 { 
	background-color:rgba(125.00000014901161, 80.00000283122063, 71.00000336766243, 1);
	width:8.018976211547852px;
	height:3.2960293292999268px;
	position:absolute;
	left:86.85405731201172px;
	top:62.57625961303711px;
}
.e2_35 { 
	background-color:rgba(125.00000014901161, 80.00000283122063, 71.00000336766243, 1);
	width:8.352472305297852px;
	height:3.2947471141815186px;
	position:absolute;
	left:69.58558654785156px;
	top:62.5782585144043px;
}
.e2_36 { 
	background-color:rgba(125.00000014901161, 80.00000283122063, 71.00000336766243, 1);
	width:3.950702667236328px;
	height:10.114791870117188px;
	position:absolute;
	left:80.3506088256836px;
	top:67.29802703857422px;
}
.e2_37 { 
	background-color:rgba(125.00000014901161, 80.00000283122063, 71.00000336766243, 1);
	width:8.51611328125px;
	height:3.5666086673736572px;
	position:absolute;
	left:78.55668640136719px;
	top:80.6096420288086px;
}
.e2_38 { 
	background-color:rgba(213.00000250339508, 151.00000619888306, 124.00000020861626, 1);
	width:24.59600257873535px;
	height:20.04802894592285px;
	position:absolute;
	left:61.98930740356445px;
	top:94.54022979736328px;
}
.e2_39 { 
	background-color:rgba(255, 255, 255, 1);
	width:26.203216552734375px;
	height:20.39550018310547px;
	position:absolute;
	left:61.22201156616211px;
	top:94.9727554321289px;
}
.e2_40 { 
	background-color:rgba(213.00000250339508, 151.00000619888306, 124.00000020861626, 1);
	width:24.59600257873535px;
	height:29.284027099609375px;
	position:absolute;
	left:61.98930740356445px;
	top:94.54022979736328px;
}
.e2_41 { 
	background-color:rgba(255, 255, 255, 1);
	width:26.19122314453125px;
	height:29.631500244140625px;
	position:absolute;
	left:61.21800231933594px;
	top:94.9727554321289px;
}
.e2_42 { 
	background-color:rgba(246.0000005364418, 226.0000017285347, 202.00000315904617, 1);
	width:12.35668659210205px;
	height:7.587764739990234px;
	position:absolute;
	left:68.7206802368164px;
	top:65.72049713134766px;
}
.e2_43 { 
	background-color:rgba(246.0000005364418, 226.0000017285347, 202.00000315904617, 1);
	width:12.357291221618652px;
	height:7.582399845123291px;
	position:absolute;
	left:84.56463623046875px;
	top:65.72186279296875px;
}
.e2_44 { 
	background-color:rgba(246.0000005364418, 226.0000017285347, 202.00000315904617, 1);
	width:7.8795390129089355px;
	height:2.114295482635498px;
	position:absolute;
	left:78.73701477050781px;
	top:67.79801177978516px;
}
.e2_45 { 
	background-color:rgba(246.0000005364418, 226.0000017285347, 202.00000315904617, 1);
	width:5.105785369873047px;
	height:3.853658676147461px;
	position:absolute;
	left:65.3051986694336px;
	top:65.02259826660156px;
}
.e2_46 { 
	background-color:rgba(0, 0, 0, 1);
	width:40.46099090576172px;
	height:19.936344146728516px;
	position:absolute;
	left:61.84573745727539px;
	top:42.17225646972656px;
}
.e2_47 { 
	background-color:rgba(255, 255, 255, 1);
	width:8.909387588500977px;
	height:5.451999187469482px;
	position:absolute;
	left:83.3808364868164px;
	top:46.864261627197266px;
}
.e2_48 { 
	background-color:rgba(255, 255, 255, 1);
	width:4.916820526123047px;
	height:2.9759998321533203px;
	position:absolute;
	left:81.32624053955078px;
	top:43.79225540161133px;
}
.e2_49 { 
	background-color:rgba(255, 255, 255, 1);
	width:20.74358558654785px;
	height:38.364837646484375px;
	position:absolute;
	left:50.258216857910156px;
	top:47.19328689575195px;
}
.e2_50 { 
	background-color:rgba(255, 255, 255, 1);
	width:1.8259295225143433px;
	height:4.728140830993652px;
	position:absolute;
	left:48.82130813598633px;
	top:89.28411865234375px;
}
.e2_51 { 
	background-color:rgba(255, 255, 255, 1);
	width:4.361764430999756px;
	height:2.1000003814697266px;
	position:absolute;
	left:48.953304290771484px;
	top:96.22825622558594px;
}
.e2_52 { 
	background-color:rgba(255, 255, 255, 1);
	width:1.2920664548873901px;
	height:1.1896567344665527px;
	position:absolute;
	left:86.85152435302734px;
	top:54.98861312866211px;
}
.e2_53 { 
	background-color:rgba(255, 255, 255, 1);
	width:1.292595386505127px;
	height:1.19064462184906px;
	position:absolute;
	left:93.3595199584961px;
	top:114.60460662841797px;
}
.e2_54 { 
	background-color:rgba(255, 255, 255, 1);
	width:1.2920665740966797px;
	height:1.1896557807922363px;
	position:absolute;
	left:96.74352264404297px;
	top:117.99259948730469px;
}
.e2_55 { 
	background-color:rgba(255, 255, 255, 1);
	width:1.2930644750595093px;
	height:1.1865508556365967px;
	position:absolute;
	left:107.41719055175781px;
	top:112.52461242675781px;
}
.e2_56 { 
	background-color:rgba(255, 255, 255, 1);
	width:1.2927145957946777px;
	height:1.1883580684661865px;
	position:absolute;
	left:62.117183685302734px;
	top:120.07376861572266px;
}
.e2_57 { 
	background-color:rgba(255, 255, 255, 1);
	width:1.2863725423812866px;
	height:1.209486484527588px;
	position:absolute;
	left:56.3929557800293px;
	top:108.61113739013672px;
}
.e2_58 { 
	background-color:rgba(255, 255, 255, 1);
	width:1.286375641822815px;
	height:1.2089967727661133px;
	position:absolute;
	left:95.57695007324219px;
	top:51.53347396850586px;
}
.e2_59 { 
	background-color:rgba(255, 255, 255, 1);
	width:1.2863364219665527px;
	height:1.2089972496032715px;
	position:absolute;
	left:48.94895935058594px;
	top:79.74147033691406px;
}
.e2_60 { 
	background-color:rgba(255, 255, 255, 1);
	width:1.2863333225250244px;
	height:1.2105697393417358px;
	position:absolute;
	left:60.87295913696289px;
	top:102.3614730834961px;
}
.e2_61 { 
	background-color:rgba(255, 255, 255, 1);
	width:1.2863696813583374px;
	height:1.2071540355682373px;
	position:absolute;
	left:98.3609619140625px;
	top:91.04547119140625px;
}
.e2_62 { 
	background-color:rgba(255, 255, 255, 1);
	width:0.800000011920929px;
	height:0.8947837352752686px;
	position:absolute;
	left:97.37730407714844px;
	top:95.6094741821289px;
}
.e2_63 { 
	background-color:rgba(255, 255, 255, 1);
	width:0.978283166885376px;
	height:0.8729022145271301px;
	position:absolute;
	left:91.16016387939453px;
	top:109.15521240234375px;
}
.e2_64 { 
	background-color:rgba(255, 255, 255, 1);
	width:0.9855818748474121px;
	height:0.8757116198539734px;
	position:absolute;
	left:101.0505142211914px;
	top:116.70439910888672px;
}
.e2_65 { 
	background-color:rgba(255, 255, 255, 1);
	width:0.9845759272575378px;
	height:0.8757116198539734px;
	position:absolute;
	left:69.27953338623047px;
	top:118.00439453125px;
}
.e2_66 { 
	background-color:rgba(255, 255, 255, 1);
	width:0.988351047039032px;
	height:0.8723738789558411px;
	position:absolute;
	left:100.530517578125px;
	top:109.67803192138672px;
}
.e2_67 { 
	background-color:rgba(255, 255, 255, 1);
	width:0.9822870492935181px;
	height:0.864207923412323px;
	position:absolute;
	left:61.74016189575195px;
	top:123.72909545898438px;
}
.e2_68 { 
	background-color:rgba(255, 255, 255, 1);
	width:1.0218889713287354px;
	height:0.7999999523162842px;
	position:absolute;
	left:91.05630493164062px;
	top:57.30426025390625px;
}
.e2_69 { 
	background-color:rgba(255, 255, 255, 1);
	width:0.8046366572380066px;
	height:0.80064457654953px;
	position:absolute;
	left:55.659141540527344px;
	top:111.92608642578125px;
}
.e2_70 { 
	background-color:rgba(255, 255, 255, 1);
	width:0.8046427965164185px;
	height:0.8006388545036316px;
	position:absolute;
	left:65.51483154296875px;
	top:105.10977935791016px;
}
.e2_71 { 
	background-color:rgba(255, 255, 255, 1);
	width:0.8046396970748901px;
	height:0.8006332516670227px;
	position:absolute;
	left:50.67483139038086px;
	top:105.36178588867188px;
}
.e2_72 { 
	background-color:rgba(255, 255, 255, 1);
	width:0.8046366572380066px;
	height:0.8025614619255066px;
	position:absolute;
	left:92.11913299560547px;
	top:75.47808837890625px;
}
.e2_73 { 
	background-color:rgba(255, 255, 255, 1);
	width:0.8065531849861145px;
	height:0.8046367168426514px;
	position:absolute;
	left:79.8329086303711px;
	top:55.64178466796875px;
}
.e2_74 { 
	background-color:rgba(255, 255, 255, 1);
	width:0.7523215413093567px;
	height:0.7563254237174988px;
	position:absolute;
	left:60.099143981933594px;
	top:89.27410125732422px;
}
.e2_75 { 
	background-color:rgba(255, 255, 255, 1);
	width:0.7450731992721558px;
	height:0.7494477033615112px;
	position:absolute;
	left:46.819149017333984px;
	top:92.9180908203125px;
}
.e2_76 { 
	background-color:rgba(255, 255, 255, 1);
	width:0.8046366572380066px;
	height:0.8046362996101379px;
	position:absolute;
	left:44.410831451416016px;
	top:111.36178588867188px;
}
.e2_77 { 
	background-color:rgba(255, 255, 255, 1);
	width:0.7591885328292847px;
	height:0.760769248008728px;
	position:absolute;
	left:74.67227935791016px;
	top:82.50164794921875px;
}
.e2_78 { 
	background-color:rgba(255, 255, 255, 1);
	width:0.8759997487068176px;
	height:0.8800005316734314px;
	position:absolute;
	left:55.027462005615234px;
	top:117.00640869140625px;
}
.e2_13 { 
	transform: rotate(90deg);
	width:847.0023803710938px;
	height:0px;
	position:absolute;
	left:240px;
	top:0px;
}
.2_13 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e2_82 { 
	color:rgba(76.33386075496674, 33.18863891065121, 248.9147785305977, 1);
	width:144px;
	height:19px;
	position:absolute;
	left:48px;
	top:170px;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e2_83 { 
	color:rgba(0, 0, 0, 1);
	width:177px;
	height:8px;
	position:absolute;
	left:32px;
	top:193px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e2_84 { 
	color:rgba(76.33386075496674, 33.18863891065121, 248.9147785305977, 1);
	width:144px;
	height:17px;
	position:absolute;
	left:48px;
	top:245px;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e2_85 { 
	color:rgba(0, 0, 0, 1);
	width:177px;
	height:7px;
	position:absolute;
	left:32px;
	top:269px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e2_86 { 
	color:rgba(76.33386075496674, 33.18863891065121, 248.9147785305977, 1);
	width:144px;
	height:17px;
	position:absolute;
	left:48px;
	top:332px;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e2_87 { 
	color:rgba(0, 0, 0, 1);
	width:177px;
	height:7px;
	position:absolute;
	left:32px;
	top:356px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e2_88 { 
	color:rgba(76.33386075496674, 33.18863891065121, 248.9147785305977, 1);
	width:144px;
	height:17px;
	position:absolute;
	left:48px;
	top:417px;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e2_128 { 
	width:222px;
	height:48px;
	position:absolute;
	left:5px;
	top:464px;
}
.e2_91 { 
	width:48px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_92 { 
	background-color:rgba(3.000000058673322, 155.00000596046448, 229.00000154972076, 1);
	width:38px;
	height:38px;
	position:absolute;
	left:5px;
	top:5px;
}
.e2_93 { 
	width:15.851997375488281px;
	height:30.19900131225586px;
	position:absolute;
	left:16.457000732421875px;
	top:12.800999641418457px;
}
.e2_94 { 
	background-color:rgba(255, 255, 255, 1);
	width:15.851997375488281px;
	height:30.19900131225586px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_95 { 
	width:48px;
	height:48px;
	position:absolute;
	left:58px;
	top:0px;
}
.e2_96 { 
	width:36px;
	height:36px;
	position:absolute;
	left:6px;
	top:6px;
}
.e2_97 { 
	background-color:rgba(48.000000938773155, 79.00000289082527, 254.00000005960464, 1);
	width:30.51999855041504px;
	height:29.099998474121094px;
	position:absolute;
	left:5.149999618530273px;
	top:0px;
}
.e2_98 { 
	background-color:rgba(73.00000324845314, 40.00000141561031, 244.0000006556511, 1);
	width:34.880001068115234px;
	height:20.183731079101562px;
	position:absolute;
	left:1.119999885559082px;
	top:0px;
}
.e2_99 { 
	background-color:rgba(98.00000175833702, 0, 234.00000125169754, 1);
	width:35.83000183105469px;
	height:30.10999870300293px;
	position:absolute;
	left:0.1700000762939453px;
	top:1.559999942779541px;
}
.e2_100 { 
	background-color:rgba(103.0000014603138, 58.00000034272671, 183.00000429153442, 1);
	width:36px;
	height:27.549999237060547px;
	position:absolute;
	left:0px;
	top:3.609999656677246px;
}
.e2_101 { 
	background-color:rgba(142.00000673532486, 36.00000165402889, 170.0000050663948, 1);
	width:36px;
	height:23.219999313354492px;
	position:absolute;
	left:0px;
	top:5.670000076293945px;
}
.e2_102 { 
	background-color:rgba(194.00000363588333, 24.000000469386578, 91.00000217556953, 1);
	width:36px;
	height:18.220001220703125px;
	position:absolute;
	left:0px;
	top:7.720000267028809px;
}
.e2_103 { 
	background-color:rgba(216.00000232458115, 27.000000290572643, 96.00000187754631, 1);
	width:36px;
	height:20.788854598999023px;
	position:absolute;
	left:0px;
	top:9.779999732971191px;
}
.e2_104 { 
	background-color:rgba(245.00000059604645, 0, 87.00000241398811, 1);
	width:35.81999969482422px;
	height:20.35999870300293px;
	position:absolute;
	left:0px;
	top:11.829999923706055px;
}
.e2_105 { 
	background-color:rgba(255, 23.000000528991222, 68.00000354647636, 1);
	width:34.279998779296875px;
	height:20.830001831054688px;
	position:absolute;
	left:0px;
	top:13.889999389648438px;
}
.e2_106 { 
	background-color:rgba(255, 87.00000241398811, 34.00000177323818, 1);
	width:32.38999938964844px;
	height:19.420000076293945px;
	position:absolute;
	left:0px;
	top:15.940000534057617px;
}
.e2_107 { 
	background-color:rgba(255, 111.00000098347664, 0, 1);
	width:30.020002365112305px;
	height:17.93000030517578px;
	position:absolute;
	left:0.309999942779541px;
	top:18px;
}
.e2_108 { 
	background-color:rgba(255, 152.0000061392784, 0, 1);
	width:26.619998931884766px;
	height:15.940000534057617px;
	position:absolute;
	left:1.6599998474121094px;
	top:20.059999465942383px;
}
.e2_109 { 
	background-color:rgba(255, 193.00000369548798, 7.000000057742, 1);
	width:22.610000610351562px;
	height:13.889999389648438px;
	position:absolute;
	left:3.609999656677246px;
	top:22.110000610351562px;
}
.e2_110 { 
	background-color:rgba(255, 213.00000250339508, 79.00000289082527, 1);
	width:18.5px;
	height:11.829999923706055px;
	position:absolute;
	left:5.670000076293945px;
	top:24.170000076293945px;
}
.e2_111 { 
	background-color:rgba(255, 224.000001847744, 130.0000074505806, 1);
	width:14.390000343322754px;
	height:9.680000305175781px;
	position:absolute;
	left:7.720000267028809px;
	top:26.31999969482422px;
}
.e2_112 { 
	background-color:rgba(255, 236.00000113248825, 179.000004529953, 1);
	width:10.279999732971191px;
	height:7.619998931884766px;
	position:absolute;
	left:9.779999732971191px;
	top:28.380001068115234px;
}
.e2_113 { 
	width:26px;
	height:26px;
	position:absolute;
	left:11px;
	top:11px;
}
.2_114 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e2_114 { 
	width:26px;
	height:26px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_115 { 
	background-color:rgba(255, 255, 255, 1);
	width:2px;
	height:2px;
	position:absolute;
	left:19px;
	top:4px;
}
.e2_116 { 
	width:12px;
	height:12px;
	position:absolute;
	left:18px;
	top:18px;
}
.2_117 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e2_117 { 
	width:12px;
	height:12px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_118 { 
	width:48px;
	height:48px;
	position:absolute;
	left:116px;
	top:0px;
}
.e2_119 { 
	background-color:rgba(255, 255, 255, 1);
	width:38.13199996948242px;
	height:38.303001403808594px;
	position:absolute;
	left:4.868000030517578px;
	top:5px;
}
.e2_120 { 
	width:40.1334114074707px;
	height:40.30400085449219px;
	position:absolute;
	left:3.867588520050049px;
	top:4px;
}
.e2_121 { 
	background-color:rgba(255, 255, 255, 1);
	width:39.13156509399414px;
	height:39.303001403808594px;
	position:absolute;
	left:0.5008487701416016px;
	top:0.5px;
}
.e2_122 { 
	background-color:rgba(207.00000286102295, 216.00000232458115, 220.00000208616257, 1);
	width:40.1334114074707px;
	height:40.30400085449219px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_123 { 
	background-color:rgba(64.00000378489494, 195.0000035762787, 81.00000277161598, 1);
	width:31.562000274658203px;
	height:31.562999725341797px;
	position:absolute;
	left:8.231999397277832px;
	top:8.206000328063965px;
}
.e2_124 { 
	background-color:rgba(255, 255, 255, 1);
	width:19.281665802001953px;
	height:17.882503509521484px;
	position:absolute;
	left:14.364999771118164px;
	top:15.213979721069336px;
}
.e2_125 { 
	width:48px;
	height:48px;
	position:absolute;
	left:174px;
	top:0px;
}
.e2_126 { 
	background-color:rgba(3.000000058673322, 169.00000512599945, 244.0000006556511, 1);
	width:36.00299835205078px;
	height:29px;
	position:absolute;
	left:5.997000217437744px;
	top:9px;
}
.e2_129 { 
	color:rgba(76.33386075496674, 33.18863891065121, 248.9147785305977, 1);
	width:148px;
	height:19px;
	position:absolute;
	left:48px;
	top:546px;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e2_130 { 
	color:rgba(0, 0, 0, 1);
	width:177px;
	height:8px;
	position:absolute;
	left:32px;
	top:565px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e2_131 { 
	color:rgba(76.33386075496674, 33.18863891065121, 248.9147785305977, 1);
	width:169px;
	height:19px;
	position:absolute;
	left:38px;
	top:620px;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e2_132 { 
	color:rgba(0, 0, 0, 1);
	width:177px;
	height:8px;
	position:absolute;
	left:32px;
	top:643px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e2_154 { 
	width:350px;
	height:657px;
	position:absolute;
	left:269px;
	top:159px;
}
.e2_135 { 
	width:350px;
	height:133px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_133 { 
	color:rgba(76.33386075496674, 33.18863891065121, 248.9147785305977, 1);
	width:350px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e2_134 { 
	color:rgba(0, 0, 0, 1);
	width:314px;
	height:104px;
	position:absolute;
	left:0px;
	top:29px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e2_136 { 
	width:314px;
	height:133px;
	position:absolute;
	left:0px;
	top:140px;
}
.e2_137 { 
	color:rgba(76.33386075496674, 33.18863891065121, 248.9147785305977, 1);
	width:303px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e2_138 { 
	color:rgba(0, 0, 0, 1);
	width:314px;
	height:104px;
	position:absolute;
	left:0px;
	top:29px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e2_139 { 
	width:314px;
	height:133px;
	position:absolute;
	left:0px;
	top:280px;
}
.e2_140 { 
	color:rgba(76.33386075496674, 33.18863891065121, 248.9147785305977, 1);
	width:303px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e2_141 { 
	color:rgba(0, 0, 0, 1);
	width:314px;
	height:104px;
	position:absolute;
	left:0px;
	top:29px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e2_142 { 
	width:314px;
	height:54px;
	position:absolute;
	left:0px;
	top:420px;
}
.e2_143 { 
	color:rgba(76.33386075496674, 33.18863891065121, 248.9147785305977, 1);
	width:303px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e2_144 { 
	color:rgba(0, 0, 0, 1);
	width:314px;
	height:25px;
	position:absolute;
	left:0px;
	top:29px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e2_145 { 
	width:314px;
	height:54px;
	position:absolute;
	left:0px;
	top:481px;
}
.e2_146 { 
	color:rgba(76.33386075496674, 33.18863891065121, 248.9147785305977, 1);
	width:303px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e2_147 { 
	color:rgba(0, 0, 0, 1);
	width:314px;
	height:25px;
	position:absolute;
	left:0px;
	top:29px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e2_148 { 
	width:314px;
	height:54px;
	position:absolute;
	left:0px;
	top:542px;
}
.e2_149 { 
	color:rgba(76.33386075496674, 33.18863891065121, 248.9147785305977, 1);
	width:303px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e2_150 { 
	color:rgba(0, 0, 0, 1);
	width:314px;
	height:25px;
	position:absolute;
	left:0px;
	top:29px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e2_151 { 
	width:314px;
	height:54px;
	position:absolute;
	left:0px;
	top:603px;
}
.e2_152 { 
	color:rgba(76.33386075496674, 33.18863891065121, 248.9147785305977, 1);
	width:303px;
	height:19px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e2_153 { 
	color:rgba(0, 0, 0, 1);
	width:314px;
	height:25px;
	position:absolute;
	left:0px;
	top:29px;
	font-family:Inter;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
}
.e2_155 { 
	color:rgba(216.00000232458115, 27.000000290572643, 96.00000187754631, 1);
	width:277px;
	height:63px;
	position:absolute;
	left:269px;
	top:37px;
	font-family:Arial Nova;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
